In [1]:
import json
import requests, re
from bs4 import BeautifulSoup
import pandas as pd

OMDb API

This assignment consists of three parts:

Please submit your code scripts for all parts with comments (explaining what each part of your code is doing) and bullet each section with the corresponding letter. Please make sure they run without error.

# Part 1: 

(a) Go to http://www.omdbapi.com/ and make yourself familiar with the API and its use. Request an API Key from the page. Specifically, read "Usage", "Parameters", and "Examples", and write down the URL string that would search for all the movies containing the word "blade". Include it as a comment in your code script.

In [2]:
api_key = '&apikey=e908618'
url_base = 'http://www.omdbapi.com/?'
search = 's=blade'
url = url_base+search+api_key
url

'http://www.omdbapi.com/?s=blade&apikey=e908618'

(b) Write a program in Python or Java that executes the above API call and prints the result to the screen. You can use the parameters "Plot: Short" and "Response: JSON". (0.1 bonus points: make your code pretty-print the returned JSON. You may use a package to do so.)

In [3]:
plot = '&plot=short'
response = '&r=json'
url = url_base+search+plot+response+api_key
url

'http://www.omdbapi.com/?s=blade&plot=short&r=json&apikey=e908618'

In [4]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.87 Safari/537.36'
}
data = requests.get(url,headers = headers)

In [5]:
import pprint

In [15]:

pprint.pprint(json.loads(data.content.decode('utf-8')))

{'Response': 'True',
 'Search': [{'Poster': 'https://m.media-amazon.com/images/M/MV5BNzQzMzJhZTEtOWM4NS00MTdhLTg0YjgtMjM4MDRkZjUwZDBlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg',
             'Title': 'Blade Runner',
             'Type': 'movie',
             'Year': '1982',
             'imdbID': 'tt0083658'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg',
             'Title': 'Blade Runner 2049',
             'Type': 'movie',
             'Year': '2017',
             'imdbID': 'tt1856101'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BOTk2NDNjZWQtMGY0Mi00YTY2LWE5MzctMGRhZmNlYzljYTg5XkEyXkFqcGdeQXVyMTAyNjg4NjE0._V1_SX300.jpg',
             'Title': 'Blade',
             'Type': 'movie',
             'Year': '1998',
             'imdbID': 'tt0120611'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BOWVjZTIzNDYtNTBlNC00NTJjLTkzOTEtOTE0MjlhYzI2YTcyXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg',
             'Title': 'Blade II',
             'Type': 'movie',
             'Year': '2002',
             'imdbID': 'tt0187738'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BMjE0Nzg2MzI3MF5BMl5BanBnXkFtZTYwMjExODQ3._V1_SX300.jpg',
             'Title': 'Blade: Trinity',
             'Type': 'movie',
             'Year': '2004',
             'imdbID': 'tt0359013'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BNGY5NWIxMjAtODBjNC00MmZhLTk1ZTAtNGRhYThlOTNjMTQwXkEyXkFqcGdeQXVyNTc1NTQxODI@._V1_SX300.jpg',
             'Title': 'Sling Blade',
             'Type': 'movie',
             'Year': '1996',
             'imdbID': 'tt0117666'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BMTk0MjgxOTQ5MF5BMl5BanBnXkFtZTgwODA3NTUwNjE@._V1_SX300.jpg',
             'Title': 'Dragon Blade',
             'Type': 'movie',
             'Year': '2015',
             'imdbID': 'tt3672840'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BYzIwYmJlMjktMzJiMy00YmQzLThmNWYtNWY3NGViZjc4MzYwXkEyXkFqcGdeQXVyNDQxNjcxNQ@@._V1_SX300.jpg',
             'Title': 'Blade of the Immortal',
             'Type': 'movie',
             'Year': '2017',
             'imdbID': 'tt5084170'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BNjZhMTNmMTItNmU4Mi00YTdkLWFkZWUtOGExNTQ3MGRiYWYyXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_SX300.jpg',
             'Title': 'Shinobi: Heart Under Blade',
             'Type': 'movie',
             'Year': '2005',
             'imdbID': 'tt0475723'},
            {'Poster': 'https://m.media-amazon.com/images/M/MV5BZGNiNmNiMTctMDI4OS00OWYxLWE4ZWEtZjFkZjU4ZmY5YzEyXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_SX300.jpg',
             'Title': 'Blade Runner: Black Out 2022',
             'Type': 'movie',
             'Year': '2017',
             'imdbID': 'tt7428594'}],
 'totalResults': '228'}

(c) Parse the JSON string in (b) to an internal Python or Java object for further handling. Then write code that iterates through the search results and prints the imdbID results to the screen.

In [18]:
result = json.loads(data.content.decode('utf-8'))
for i in range(len(result['Search'])):
    print (result['Search'][i]['imdbID'])
    print ('=================================')

tt0083658
=================================
tt1856101
=================================
tt0120611
=================================
tt0187738
=================================
tt0359013
=================================
tt0117666
=================================
tt3672840
=================================
tt5084170
=================================
tt0475723
=================================
tt7428594
=================================

# Part 2:

Please submit part (b) and (c) answers in a PDF file. 

(a) Install and run SQL on your machine. Use some GUI to see/test that it runs.

(b) What data types would you choose to store "imdb_id", "title", and "year" in? Why?
(c) Do we need to create an additional column as a primary key to uniquely identify rows? If so, what column do you propose? If not, which existing column can we use?

(d) Write a small program in Python or Java that (i) connects to your local SQL instance (use user "root" and NO passwords), (ii) creates a database named "ucdavis", (iii) creates the table "omdb_test" containing the columns "imdb_id", "title", and "year". This small code will create an empty table.

In [3]:
import mysql.connector

In [4]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root"
)

mycursor = mydb.cursor()
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F4B5D66DD8>

In [ ]:
mycursor.execute( "DROP DATABASE ucdavis")

In [20]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  database='ucdavis'
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE omdb_test (imdb_id VARCHAR(255) NOT NULL PRIMARY KEY, title VARCHAR(255), year INT)")

ProgrammingError: 1050 (42S01): Table 'omdb_test' already exists

In [21]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('omdb',)
('omdb_test',)

# Part 3: Combination time!

(a) Write a program in Python or Java that uses the OMDb API to lookup/search _your_ top 10 choices of movie titles and extract their imdbIDs. Print the movie titles along with their imdbID to the screen. (E.g., search for "Dangal" or "Wolf Warrior 2" and record the imdbID that corresponds to the exact movie you have in mind).

In [20]:
api_key = '&apikey=e908618'
url_base = 'http://www.omdbapi.com/?'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.87 Safari/537.36'
}
titles = ['call me by your name','Ne Zha','Frozen','The Wandering Earth','The Imitation Game','1917',
          'The Shawshank Redemption','Your Name.','The Legend of 1900','The Big Short']

plot = '&plot=short'
response = '&r=json'
ids = []
for title in titles:
    url = url_base+'t='+title+plot+response+api_key
    data = requests.get(url,headers = headers)
    result = json.loads(data.content.decode('utf-8'))
    ids.append(result['imdbID'])

    print(result['Title'],result['imdbID'])

Call Me by Your Name tt5726616
Ne Zha tt10627720
Frozen tt2294629
The Wandering Earth tt7605074
The Imitation Game tt2084970
1917 tt8579674
The Shawshank Redemption tt0111161
Your Name. tt5311514
The Legend of 1900 tt0120731
The Big Short tt1596363

(b) Augment the program you developed in (a) to look up the movie details using the imdbIDs you found (Use only the IDs, NOT titles) and print out the result to the screen.

In [22]:
api_key = '&apikey=e908618'
url_base = 'http://www.omdbapi.com/?'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.87 Safari/537.36'
}

plot = '&plot=short'
response = '&r=json'
for movie_id in ids:
    url = url_base+'i='+movie_id+plot+response+api_key
    data = requests.get(url,headers = headers)
    result = json.loads(data.content.decode('utf-8'))
    pprint.pprint(result)
    print('======================================================')

{'Actors': 'Armie Hammer, Timothée Chalamet, Michael Stuhlbarg, Amira Casar',
 'Awards': 'Won 1 Oscar. Another 96 wins & 248 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'Italy, France, Brazil',
 'DVD': '13 Mar 2018',
 'Director': 'Luca Guadagnino',
 'Genre': 'Drama, Romance',
 'Language': 'English, Italian, French, German, Hebrew',
 'Metascore': '93',
 'Plot': 'In 1980s Italy, a romance blossoms between a seventeen-year-old '
         "student and the older man hired as his father's research assistant.",
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNDk3NTEwNjc0MV5BMl5BanBnXkFtZTgwNzYxNTMwMzI@._V1_SX300.jpg',
 'Production': 'Sony Pictures Classics',
 'Rated': 'R',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.9/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '95%'},
             {'Source': 'Metacritic', 'Value': '93/100'}],
 'Released': '19 Jan 2018',
 'Response': 'True',
 'Runtime': '132 min',
 'Title': 'Call Me by Your Name',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'James Ivory (screenplay by), André Aciman (based on the novel by)',
 'Year': '2017',
 'imdbID': 'tt5726616',
 'imdbRating': '7.9',
 'imdbVotes': '172,809'}
======================================================
{'Actors': 'Yanting Lü, Joseph, Mo Han, Hao Chen',
 'Awards': '11 wins & 5 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'China',
 'DVD': '03 Mar 2020',
 'Director': 'Yu Yang',
 'Genre': 'Animation, Family, Fantasy, Thriller',
 'Language': 'Mandarin',
 'Metascore': '54',
 'Plot': 'Born with unique powers, a boy is recruited to fight demons and save '
         'the community that fears him.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNGI1NjcwNWEtOGVkZC00OTVkLWE3ZGItZGQwNThkMTdiZTk2XkEyXkFqcGdeQXVyOTE4NzcwNzI@._V1_SX300.jpg',
 'Production': 'Well Go USA Entertainment',
 'Rated': 'N/A',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.7/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '87%'},
             {'Source': 'Metacritic', 'Value': '54/100'}],
 'Released': '26 Jul 2019',
 'Response': 'True',
 'Runtime': '110 min',
 'Title': 'Ne Zha',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Yu Yang, Yunyun Wei (story)',
 'Year': '2019',
 'imdbID': 'tt10627720',
 'imdbRating': '7.7',
 'imdbVotes': '2,661'}
======================================================
{'Actors': 'Kristen Bell, Idina Menzel, Jonathan Groff, Josh Gad',
 'Awards': 'Won 2 Oscars. Another 78 wins & 57 nominations.',
 'BoxOffice': '$400,736,600',
 'Country': 'USA',
 'DVD': '18 Mar 2014',
 'Director': 'Chris Buck, Jennifer Lee',
 'Genre': 'Animation, Adventure, Comedy, Family, Fantasy, Musical',
 'Language': 'English, Norwegian',
 'Metascore': '74',
 'Plot': 'When the newly crowned Queen Elsa accidentally uses her power to '
         'turn things into ice to curse her home in infinite winter, her '
         'sister Anna teams up with a mountain man, his playful reindeer, and '
         'a snowman to change the weather condition.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTQ1MjQwMTE5OF5BMl5BanBnXkFtZTgwNjk3MTcyMDE@._V1_SX300.jpg',
 'Production': 'Walt Disney Pictures',
 'Rated': 'PG',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.5/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '90%'},
             {'Source': 'Metacritic', 'Value': '74/100'}],
 'Released': '27 Nov 2013',
 'Response': 'True',
 'Runtime': '102 min',
 'Title': 'Frozen',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Jennifer Lee (screenplay by), Hans Christian Andersen (story '
           'inspired by: "The Snow Queen" by), Chris Buck (story by), Jennifer '
           'Lee (story by), Shane Morris (story by)',
 'Year': '2013',
 'imdbID': 'tt2294629',
 'imdbRating': '7.5',
 'imdbVotes': '540,929'}
======================================================
{'Actors': 'Jing Wu, Chuxiao Qu, Guangjie Li, Man-Tat Ng',
 'Awards': '13 wins & 10 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'China',
 'DVD': 'N/A',
 'Director': 'Frant Gwo',
 'Genre': 'Action, Drama, Sci-Fi',
 'Language': 'Mandarin, English, Russian, French, Japanese, Korean, '
             'Indonesian, Hindi',
 'Metascore': '57',
 'Plot': 'As the sun is dying out, people all around the world build giant '
         'planet thrusters to move Earth out of its orbit and sail Earth to a '
         'new star system. Yet the 2500-year journey comes with unexpected '
         'dangers, and in order to save humanity, a group of young people in '
         'this age of a wandering Earth fight hard for the survival of '
         'humankind.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMjE2NzZlMGItMzA4OS00ZjRiLTk3NzItMDRkOGFlZmNhYzJkXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_SX300.jpg',
 'Production': 'Netflix',
 'Rated': 'TV-MA',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.0/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '71%'},
             {'Source': 'Metacritic', 'Value': '57/100'}],
 'Released': '05 Feb 2019',
 'Response': 'True',
 'Runtime': '125 min',
 'Title': 'The Wandering Earth',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Gong Geer, Junce Ye, Yan Dongxu, Frant Gwo, Yang Zhixue, Cixin Liu '
           '(story), Ruchang Ye',
 'Year': '2019',
 'imdbID': 'tt7605074',
 'imdbRating': '6.0',
 'imdbVotes': '21,999'}
======================================================
{'Actors': 'Benedict Cumberbatch, Keira Knightley, Matthew Goode, Rory Kinnear',
 'Awards': 'Won 1 Oscar. Another 48 wins & 159 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'UK, USA',
 'DVD': '31 Mar 2015',
 'Director': 'Morten Tyldum',
 'Genre': 'Biography, Drama, Thriller, War',
 'Language': 'English, German',
 'Metascore': '73',
 'Plot': 'During World War II, the English mathematical genius Alan Turing '
         'tries to crack the German Enigma code with help from fellow '
         'mathematicians.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BOTgwMzFiMWYtZDhlNS00ODNkLWJiODAtZDVhNzgyNzJhYjQ4L2ltYWdlXkEyXkFqcGdeQXVyNzEzOTYxNTQ@._V1_SX300.jpg',
 'Production': 'The Weinstein Company',
 'Rated': 'PG-13',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.0/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '90%'},
             {'Source': 'Metacritic', 'Value': '73/100'}],
 'Released': '25 Dec 2014',
 'Response': 'True',
 'Runtime': '114 min',
 'Title': 'The Imitation Game',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Graham Moore, Andrew Hodges (book)',
 'Year': '2014',
 'imdbID': 'tt2084970',
 'imdbRating': '8.0',
 'imdbVotes': '640,868'}
======================================================
{'Actors': 'Dean-Charles Chapman, George MacKay, Daniel Mays, Colin Firth',
 'Awards': 'Won 2 Golden Globes. Another 51 wins & 153 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'UK, USA',
 'DVD': 'N/A',
 'Director': 'Sam Mendes',
 'Genre': 'Drama, War',
 'Language': 'English, French, German',
 'Metascore': '79',
 'Plot': 'Two young British soldiers during the First World War are given an '
         'impossible mission: deliver a message deep in enemy territory that '
         "will stop 1,600 men, and one of the soldiers' brothers, from walking "
         'straight into a deadly trap.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BOTdmNTFjNDEtNzg0My00ZjkxLTg1ZDAtZTdkMDc2ZmFiNWQ1XkEyXkFqcGdeQXVyNTAzNzgwNTg@._V1_SX300.jpg',
 'Production': 'Universal Pictures',
 'Rated': 'R',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.6/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '89%'},
             {'Source': 'Metacritic', 'Value': '79/100'}],
 'Released': '10 Jan 2020',
 'Response': 'True',
 'Runtime': '119 min',
 'Title': '1917',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Sam Mendes, Krysty Wilson-Cairns',
 'Year': '2019',
 'imdbID': 'tt8579674',
 'imdbRating': '8.6',
 'imdbVotes': '8,580'}
======================================================
{'Actors': 'Tim Robbins, Morgan Freeman, Bob Gunton, William Sadler',
 'Awards': 'Nominated for 7 Oscars. Another 21 wins & 35 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'USA',
 'DVD': '27 Jan 1998',
 'Director': 'Frank Darabont',
 'Genre': 'Drama',
 'Language': 'English',
 'Metascore': '80',
 'Plot': 'Two imprisoned men bond over a number of years, finding solace and '
         'eventual redemption through acts of common decency.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg',
 'Production': 'Columbia Pictures',
 'Rated': 'R',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '9.3/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '90%'},
             {'Source': 'Metacritic', 'Value': '80/100'}],
 'Released': '14 Oct 1994',
 'Response': 'True',
 'Runtime': '142 min',
 'Title': 'The Shawshank Redemption',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Stephen King (short story "Rita Hayworth and Shawshank '
           'Redemption"), Frank Darabont (screenplay)',
 'Year': '1994',
 'imdbID': 'tt0111161',
 'imdbRating': '9.3',
 'imdbVotes': '2,177,949'}
======================================================
{'Actors': 'Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô Narita, Aoi Yûki',
 'Awards': '15 wins & 25 nominations.',
 'BoxOffice': '$4,676,810',
 'Country': 'Japan',
 'DVD': '07 Nov 2017',
 'Director': 'Makoto Shinkai',
 'Genre': 'Animation, Drama, Fantasy, Romance',
 'Language': 'Japanese',
 'Metascore': '79',
 'Plot': 'Two strangers find themselves linked in a bizarre way. When a '
         'connection forms, will distance be the only thing to keep them '
         'apart?',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BODRmZDVmNzUtZDA4ZC00NjhkLWI2M2UtN2M0ZDIzNDcxYThjL2ltYWdlXkEyXkFqcGdeQXVyNTk0MzMzODA@._V1_SX300.jpg',
 'Production': 'FUNimation Films',
 'Rated': 'PG',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.4/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '98%'},
             {'Source': 'Metacritic', 'Value': '79/100'}],
 'Released': '07 Apr 2017',
 'Response': 'True',
 'Runtime': '106 min',
 'Title': 'Your Name.',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Makoto Shinkai (based on his novel), Makoto Shinkai (screenplay), '
           'Clark Cheng (english script)',
 'Year': '2016',
 'imdbID': 'tt5311514',
 'imdbRating': '8.4',
 'imdbVotes': '153,478'}
======================================================
{'Actors': 'Tim Roth, Pruitt Taylor Vince, Mélanie Thierry, Bill Nunn',
 'Awards': 'Won 1 Golden Globe. Another 21 wins & 10 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'Italy',
 'DVD': '04 Jun 2002',
 'Director': 'Giuseppe Tornatore',
 'Genre': 'Drama, Music, Romance',
 'Language': 'English, French, Italian',
 'Metascore': '58',
 'Plot': 'A baby boy, discovered in 1900 on an ocean liner, grows into a '
         'musical prodigy, never setting foot on land.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMzIwOTdmNjQtOWQ1ZS00ZWQ4LWIxYTMtOWFkM2NjODJiMGY4L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTI4MjkwNjA@._V1_SX300.jpg',
 'Production': 'Fine Line Features',
 'Rated': 'R',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.1/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '54%'},
             {'Source': 'Metacritic', 'Value': '58/100'}],
 'Released': '28 Oct 1998',
 'Response': 'True',
 'Runtime': '169 min',
 'Title': 'The Legend of 1900',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Alessandro Baricco (monologue Novecento), Giuseppe Tornatore',
 'Year': '1998',
 'imdbID': 'tt0120731',
 'imdbRating': '8.1',
 'imdbVotes': '54,829'}
======================================================

{'Actors': 'Ryan Gosling, Rudy Eisenzopf, Casey Groves, Charlie Talbert',
 'Awards': 'Won 1 Oscar. Another 37 wins & 80 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'USA',
 'DVD': '15 Mar 2016',
 'Director': 'Adam McKay',
 'Genre': 'Biography, Comedy, Drama, History',
 'Language': 'English',
 'Metascore': '81',
 'Plot': 'In 2006-2007 a group of investors bet against the US mortgage '
         'market. In their research they discover how flawed and corrupt the '
         'market is.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNDc4MThhN2EtZjMzNC00ZDJmLThiZTgtNThlY2UxZWMzNjdkXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SX300.jpg',
 'Production': 'Paramount Pictures',
 'Rated': 'R',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.8/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '88%'},
             {'Source': 'Metacritic', 'Value': '81/100'}],
 'Released': '23 Dec 2015',
 'Response': 'True',
 'Runtime': '130 min',
 'Title': 'The Big Short',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Charles Randolph (screenplay by), Adam McKay (screenplay by), '
           'Michael Lewis (based upon the book by)',
 'Year': '2015',
 'imdbID': 'tt1596363',
 'imdbRating': '7.8',
 'imdbVotes': '326,711'}
======================================================

(c) "Recycle" + augment your code from (2.d) to insert the following information of _your_ top 10 movie titles into a new SQL table named "omdb":
title, year, genre, director, imdb_rating, rotten_tomatoes, metacritic, plot, box_office.

In [24]:

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  database='ucdavis'
)
mycursor = mydb.cursor()

# mycursor.execute( "DROP TABLE omdb")
mycursor.execute("CREATE TABLE omdb (imdb_id VARCHAR(255) NOT NULL PRIMARY KEY, title VARCHAR(255), year INT,genre VARCHAR(255),director VARCHAR(255), imdb_rating VARCHAR(255),rotten_tomatoes VARCHAR(255),metacritic VARCHAR(255), plot LONGTEXT,box_office VARCHAR(255))")

In [25]:
api_key = '&apikey=e908618'
url_base = 'http://www.omdbapi.com/?'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.87 Safari/537.36'
}

plot = '&plot=short'
response = '&r=json'


for movie_id in ids:
    url = url_base+'i='+movie_id+plot+response+api_key
    data = requests.get(url,headers = headers)
    result = json.loads(data.content.decode('utf-8'))
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        database='ucdavis')
    mycursor = mydb.cursor()
    sql = "INSERT INTO omdb (imdb_id, title,year,genre,director,imdb_rating,rotten_tomatoes,metacritic,plot,box_office) VALUES (%s, %s,%s,%s,%s,%s,%s,%s,%s,%s)"
    val = [(result['imdbID'],
           result['Title'],result['Year'],result['Genre'],result['Director'],
           result['Ratings'][0]['Value'],result['Ratings'][1]['Value'],
           result['Ratings'][2]['Value'],result['Plot'],result['BoxOffice'])]
    mycursor.executemany(sql, val)
    mydb.commit()
    print(mycursor.rowcount, "was inserted.")

1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.